In [1]:
import yfinance as yf 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = yf.download('IEMG', interval='1d')
df2 = yf.download('IEMG', interval='1m')

df.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open  Volume
Ticker           IEMG       IEMG       IEMG       IEMG    IEMG
Date
2012-10-24  35.379620  35.673103  35.379620  35.629082  149500
2012-10-25  35.614407  35.834520  35.519023  35.775821    9800
2012-10-26  35.357609  35.482341  35.247554  35.394297  618700
2012-10-31  35.386959  35.665771  35.247555  35.665771   17500
2012-11-01  35.951904  35.951904  35.651082  35.651082  217200