####  Data Cleaning and Composition <br>

Import Data using yfinance

In [34]:
import yfinance as yf 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Downloading prices

In [35]:
# Custom date range 
y_start_date = '2015-01-01'
y_end_date = '2025-04-01'

# Download data from Yahoo Finance
# Note: The ticker '^KLSE' is used as a placeholder. You can replace it with any other ticker symbol.
mkt = yf.download('^KLSE', interval='1mo', start=y_start_date, end=y_end_date)  

# Display the first few rows of the dataframe to verify the data 
mkt.head()

[*********************100%***********************]  1 of 1 completed

Price             Close         High          Low         Open      Volume
Ticker            ^KLSE        ^KLSE        ^KLSE        ^KLSE       ^KLSE
Date
2015-01-01  1781.260010  1810.209961  1706.180054  1757.150024  3125644400
2015-02-01  1821.209961  1831.410034  1780.209961  1814.719971  2198667000
2015-03-01  1830.780029  1832.849976  1774.300049  1822.910034  2922107200
2015-04-01  1818.270020  1867.530029  1818.270020  1831.349976  2461880300
2015-05-01  1747.520020  1830.900024  1746.060059  1830.319946  2356653700

In [36]:
if isinstance(mkt.index, pd.DatetimeIndex):
    print("The DataFrame 'prices' is set as a time series with a datetime index.")
else:
    mkt.index = pd.to_datetime(prices.index)
    print("Date has been converted to datetime format.")

The DataFrame 'prices' is set as a time series with a datetime index.

In [37]:
mkt.columns = ["Close", "High", "Low", "Open", "Volume"]
mkt.head()

                  Close         High          Low         Open      Volume
Date
2015-01-01  1781.260010  1810.209961  1706.180054  1757.150024  3125644400
2015-02-01  1821.209961  1831.410034  1780.209961  1814.719971  2198667000
2015-03-01  1830.780029  1832.849976  1774.300049  1822.910034  2922107200
2015-04-01  1818.270020  1867.530029  1818.270020  1831.349976  2461880300
2015-05-01  1747.520020  1830.900024  1746.060059  1830.319946  2356653700

Downloading 3-Statement Info.

Data Cleaning

#### Factor Construction (Included endogeneous variables)

#### Model Testing

##### Three-Factor Fama-French Model

$$
(R_{P,t} -r_{f,t}) = \alpha_P\ + \beta_{MKT} (R_{MKT,t}-r_{f,t} )\ +\beta_{SMB} (SMB_t)\ + \beta_{HML}(HML_t) +\varepsilon_i
$$<br>
Where:<br>
- $R_P$ is the return of the portfolio <br>
- $r_f$ is the risk-free rate<br>
- $MKT$ is the notation for the market return/beta<br>
- $SMB$ is the notation for small minus big (mkt cap) <br>
- $HML$ is the notation for high minus low (btm) <br>

##### Five-Factor Fama-French Model

$$
(R_{P,t} -r_{f,t}) = \alpha_P\ + \beta_{MKT} (R_{MKT,t}-r_{f,t} )\ +\beta_{SMB} (SMB_t)\ + \beta_{HML} (HML_t) + \beta_{RMW} (RMW_t) + \beta_{CMA} (CMA_t) +\varepsilon_i
$$<br>
Where:<br>
- $R_P$ is the return of the portfolio <br>
- $r_f$ is the risk-free rate<br>
- $MKT$ is the notation for the market return/beta<br>
- $SMB$ is the notation for small minus big (mkt cap) <br>
- $HML$ is the notation for high minus low (btm) <br>
- $RMW$ is the notation for robustness minus weakness (robust) <br>
- $CMA$ is the notation for conservative minus aggressive (size of company & investment growth) <br>